# Feature flags (public)
NEXT_PUBLIC_ENABLE_AI=false
NEXT_PUBLIC_ENABLE_OCR=false
NEXT_PUBLIC_ENABLE_MULTI_CURRENCY=true
NEXT_PUBLIC_ENABLE_INVOICES=true
NEXT_PUBLIC_ENABLE_COLLABORATORS=true

# API
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

# GOOGLE CAPTCHA V3
NEXT_PUBLIC_GOOGLE_CAPTCHA_SITE_KEY='your_site_key'